<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - TBOAdmin</title>

  <partial name="_Stylesheet" />
</head>
<body>

  <partial name="_Header" />

  <partial name="_CookieConsentPartial" />

  <div class="container body-content">
    @RenderBody()
    <hr />
    <partial name="_Footer" />
  </div>

  <partial name="_Script" />

  @RenderSection("Scripts", required: false)
</body>
</html>
